h2 {
  width: 100%;
  font-size: 250%;
  text-align: center;
  font-weight: bolder;
}

.container {
  a{
    color: black;
  }

  a:hover{
    color: black;
    font-weight: bolder;
  }

  a:active {
    color: grey;
  }
  .imagenes {
    border: 5px solid rgb(104, 100, 109);
  }

  .imagenes:hover {
    border: 10px solid rgb(230, 76, 76);
  }

  #Room1 {
    position: absolute;
    top: 5%;
    left: 5%;
    img {
      width: 250px;
      height: 350px;
    }
  }

  #Room2 {
    position: absolute;
    top: 12%;
    left: 77%;
    img {
      width: 300px;
      height: 400px;
    }
  }

  #Room3 {
    position: absolute;
    top: 30%;
    left: 60%;
    img {
      width: 275px;
      height: 375px;
    }
  }

  #Room4 {
    position: absolute;
    top: 51%;
    left: 20%;
    img {
      width: 250px;
      height: 350px;
    }
  }

  #Room5 {
    position: absolute;
    top: 15%;
    left: 35%;
    img {
      width: 400px;
      height: 550px;
    }
    width: 175px;
    height: 250px
  }

}

