a{
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus{
  color: inherit;
  text-decoration: none;
}

.fondo-blur {
  background-image: url("../img/cine_background.jpg");
  background-size: cover;
}
