<div class="fluid-container" style="text-align:center">
  <h1>CINEMA</h1>
    <h2>Room {{movie.room}}</h2>
    <h3><strong>{{movie.title}}</strong></h3>
  <hr/>
  <div class="row">
    <div class="module peli col-sm-6">
      <span class="poster"><img width="60%" src="{{movie.poster}}"/></span>
    </div>
    <div class="module peli col-sm-6 text-left">
      <p><span class="col-sm-3 text-left"><strong>Genres</strong></span><span class="col-sm-3 genrs" *ngFor='let gen of movie.genres'>{{gen}}</span></p>

      <p><span class="col-sm-3 text-left"><strong>Year</strong></span><span class="col-sm-3 year">{{movie.year}}</span></p>
      <p><span class="col-sm-3 text-left"><strong>Director</strong></span><span class="col-sm-3 dire"><i>{{movie.director}}</i></span></p>


      <p><span class="col-sm-3 text-left"><strong>Actors</strong></span><span class="col-sm-3 actrs" *ngFor='let actor of movie.actors'><p class="listact" >{{actor}}</p></span>
      <p><span class="col-sm-3 text-left"><strong>Schedule</strong></span><span class="col-sm-3 hours" *ngFor='let hour of movie.hours'><p class="listhour" >{{hour}}</p></span>
      <p><span class="col-sm-3 text-left"><strong>Synopsis</strong></span><span class="col-sm-3 synops">{{movie.synopsis}}</span></p>
      <button class="btn-primary" routerLink="/home">Home</button>
    </div>



  </div>
</div>

