<div class="content container-fluid bg-dark p-5">
  <div class="card col-8 bg-light bg-transparent mx-auto mb-3">
    <div class="row justify-content-center no-gutters">
      <div class="col-md-4">
        <img [src]="movie.poster" class="card-img" alt="..." />
      </div>
      <div class="col-md-8 text-white">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <span
            *ngFor="let genre of movie.genres"
            class="badge badge-pill badge-info ml-1"
            >{{ genre }}</span
          >
          <p class="card-text">Year : {{ movie.year }}</p>
          <p class="card-text">Director : {{ movie.director }}</p>
          <p class="card-text">Actors :</p>
          <span
            *ngFor="let actor of movie.actors"
            class="badge badge-pill badge-warning ml-1"
            >{{ actor }}</span
          >
          <br><br>

          <p class="card-text">Synopsis:</p>
          <p class="card-text">{{ movie.synopsis }}</p>
          <br /><br />

          <button class="btn btn-primary" [routerLink]="['']">Regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
