<div class="jumbotron">
    <h1 class="display-4">CINEMA</h1>
    <p class="lead">ROOM {{movies[0].id}}</p>
    <hr class="my-4">
    <img [src]= "movies[0].poster" class="img-fluid" alt="Responsive image">
    <p class="lead">{{movies[0].genres}}</p>
    <p class="lead">{{movies[0].year}}}</p>
    <p class="lead">{{movies[0].actors}}</p>
    <p class="lead">{{movies[0].schedule}}</p>
    <p class="lead">{{movies[0].synopsis}}</p>
    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
    <a class="btn btn-primary btn-lg" href="#" role="button">Return Home</a>
  </div>